<%- include('includes/head', { pageTitle: '오류 발생' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>인증 오류!</h1>
    <p>인증받지 않은 사용자입니다! 로그인하세요.</p>
    <p><a class="btn" href="/">홈으로 돌아가기</a></p>
  </main>
<%- include('includes/footer') %>