<%- include('includes/head', { pageTitle: '오류 발생' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>권한 오류!</h1>
    <p>권한이 없는 사용자 입니다! 위 페이지에는 접근할 수 없습니다.</p>
    <p><a class="btn" href="/">홈으로 돌아가기</a></p>
  </main>
<%- include('includes/footer') %>