<%- include('includes/head', { pageTitle: '오류 발생' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>내용을 찾을 수 없습니다!</h1>
    <p>아쉽게도, 요청하신 내용을 찾을 수 없습니다.</p>
    <p><a class="btn" href="/">홈으로 돌아가기</a></p>
  </main>
<%- include('includes/footer') %>