<%- include('../../shared/includes/head', { pageTitle: '주문 내역' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>주문내역</h1>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>