<header id="main-header">
  <div id="logo">
    <a href="/">시니어샵</a>
  </div>

  <div id="logoimg">
    <img
      src="/img/shoppinglogogo.png"
      width="60"
    >
  </div>

  <nav>
    <%- include('nav-items') %>
  </nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>