<%- include('../../shared/includes/head', { pageTitle: '모든 제품' }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/product-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>제품 관리</h1>
    <section>
      <p>
        <a href="/admin/products/new" class="btn">제품 추가</a>
      </p>
    </section>
    <section>
      <ul id="products-grid">
        <% for (const product of products) { %>
          <li>
            <%- include('../../shared/includes/product-item', { product: product }) %>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
<%- include('../../shared/includes/footer') %>